@import url("../styles/theme.css");
@import "tailwindcss";

@theme {
  --color-primary-500: #ff7000;
  --color-primary-100: #fff1e6;
  --color-accent-blue: #1da1f2;
  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #101012;
  --color-light-900: #fff;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-700: #dce3f1;
  --color-light-500: #7b8ec8;
  --color-light-400: #858ead;

  --shadow-light-100: "0px 12px 20px 0px rgba(184, 184, 184, 0.03), 0px 6px 12px 0px";
}

/* custom classes */
